<li id="Risposte-<%= risposte.id %>">
  <span class="nome"><%= link_to risposte.user.name, user_path(risposte.user)%></span>
  <span class="nome"><%= link_to risposte.domande.servizi.nome, servizi_path(risposte.domande.servizi)%></span>
  <span class="content"><%= risposte.content %></span>
  <span class="modifica"><%= link_to 'Modifica', edit_risposte_path %></span>
   <span class="mipiace"> Mi piace: (<%= risposte.likecount %>) </span>
   <span class="nonmipiace"> Non mi piace: (<%= risposte.nolikecount %>) </span>
   <span class="mipiacebutton"><%= button_to "Mi piace", vote_up_answer_path(risposte) %></span>
   <span class="nonmipiacebutton"><%= button_to "Non mi piace", vote_down_answer_path(risposte) %></span>
  <span class="timestamp">
  <% if currentuser==risposte.user %>
      <%= link_to "Cancella", cancellarisposte_path(risposte) %>
    <% end %>
  </span>
</li>
