<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | All Around You App</title>
  </head>
  <body>
    <h1>All around you</h1>
      <p>
  All around you
  <p> <%= link_to "Registrati!", signup_path %></p>
  <p><%= link_to "Loggati!", login_path %></p>
</p>
  </body>
</html>
