
<head>

  <style>
  
    @import url('https://fonts.googleapis.com/css?family=Merriweather');
   
    h1{
	color:#B22222;
	font-family: 'Merriweather', serif; 
    }
    
    div1{
      color: black;
      font-family: 'Merriweather', serif; 
    }
          
          
  </style>

</head>


<body bgcolor='#A9A9A9'>

    <h1> Servizi cercati: </h1>
    <div class="row-md-8" align="left">
	<% if @servizi.any? %>
	<div id='div1'>
	  <ol class="servizi">
	    <%= render @servizi %>
	  </ol>
	<div>
	<% end %>
    </div>

</body>