<h1>All Around you activation page</h1>

<p>Ciao <%= @user.name %>,</p>

<p>
Benvenuto su All Around you, clicca sul link sottostante per attivare il tuo account:
</p>

<%= link_to "Activate", edit_account_activation_url(id: @user.id, email: @user.email, activation_token: @user.activation_token) %>
