<h1>Password reset</h1>

<p>Per resettare la password clicca sul link sottostante</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Il link scomparirà in 2 ore</p>

