
<head>

  <style>
  
      @import url('https://fonts.googleapis.com/css?family=Merriweather');
          h1{
	    color:#B22222;
	    font-family: 'Merriweather', serif; 
          }
          
          #user{
	    font-family: 'Merriweather', serif;
	    color: black;
	    width: 500px;
	    margin: left;
	    border: 2px solid black;
	    position: relative;
	    overflow: auto;
	    text-align: left;
	    padding: 10px 10px;
	    border-radius: 10px 10px 10px 10px;
          }
          
          #nome{
	    font-family: 'Merriweather', serif;
	    color: black;
          }

  
  </style>

</head> 


<body bgcolor='#A9A9A9'>

    <% provide(:title, 'Utenti presenti') %>
    <h1>All users</h1>

    <%= will_paginate %>
    
    <div id='user'>
	<ul class="users">
	  <% @users.each do |user| %>
	      <a id='nome'><%= render user %></a>
	  <% end %>
	</ul>
    </div>
    
    <%= will_paginate %>


</body>