<%= link_to gravatar_for(currentuser, size: 50), currentuser %>
<h1><%= currentuser.name %></h1>
<span><%= link_to "Il Mio Profilo", currentuser %></span>
<span><%= pluralize(currentuser.servizis.count, "Services") %></span>
